*{margin:0; padding:0; box-sizing:border-box;}
    a{text-decoration : none;}
    address{font-style:normal;}


.need{
    display: block !important;
}

.need2{
    display: none;
}

@media screen and (max-width:1024px){
    .int1_cont_box p br{
        display: none;
    }
}

@media screen and (max-width:991px){
    .need2{
    display: block !important;
    }
}